.searchInput {
  text-align: center;
}

.banner {
  color: #ffffff;
}

.container {
  max-width: 1300px;
  overflow: hidden;
  margin: 0 auto;
}
.search {
  &-bar {
    display: flex;
    max-width: 1400px;
    align-items: center;
    margin: 5px;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
  }
  display: flex;
  margin-top: 15px;
}

.banner {
  text-align: center;
}

.results-container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: center;
  justify-self: center;
  // min-width: 600px;
  align-self: center;
  margin: 0 auto;
  // border: yellowgreen 2px solid;
}

.Youtube-logo {
  width: 30px;
  height: 20px;
}

.logo {
  margin: 0 0 0 5px;
  display: flex;
  h3 {
    margin: 0;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    font-weight: 900;
  }
  align-items: center;
  cursor: pointer;
}

#searchInput {
  width: 900px;
  max-width: 300px;
  padding: 3px;
  align-self: center;
}

.faSearch {
  // height: 20px !important;
  padding: 3px;
  align-items: center;
  width: 30px;
}

.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
}

@media (max-width: 500px) {
  #searchInput {
    width: 200px;
    padding: 3px;
  }
  .results-container {
    margin-top: 20px;
  }

  .logo {
    .search-bar {
      justify-content: center;
    }
  }
}
